div, p {
    margin-left: 10px;
    padding: 20px;
    background-color: grey;
    border: 2px solid yellow;
}

#first-child {
    background-color: yellow;
}

.awesome-item {
    text-decoration: underline;
}

#first-child .awesome-item {
    color: red;
    font-weight: bold;
}

#first-child > .awesome-item {
    color: green;
}

div + div {
    color: red;
}

p:hover {
    background-color: white;
}

[alt] {
    border: 10px solid grey;
}

[target=_blank] {
    font-size: 30px;
}